@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BOKWeb.Models.PostingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/EditPostStyle.css" rel="stylesheet" type="text/css" />

<form class="edit_post_form" asp-action="EditPosting">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" value="@Model.Title"/>
    </div>
    <div>
        <label asp-for="Author"></label>
        <input asp-for="Author" value="@Model.Author" />
    </div>
    <div>
        <label asp-for="MinToRead"></label>
        <input asp-for="MinToRead" value="@Model.MinToRead" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="25" cols="25" placeholder="Put the post details here">@Model.Description</textarea>
    </div>
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <input class="edit_post_button" type="submit" value="Edit"/>
</form>
<div>
    <a asp-action="Index">
        <input class="return_to_index_button" type="button" value="Back" />
    </a>
</div>
